<%= render 'vote_info' %>
<%= form_for current_user.votes.build(:entry_id => @entry.id),
		:remote => true do |f| %>
  <%= f.hidden_field :entry_id %>
  <div class="actions">
    <%= f.submit "Vote" %>
    <%= select_tag(:weight, options_for_select([['3 points', 3], ['2 points', 2], ['1 point', 1]], 3)) %>
  </div>
<% end %>
