<tr>
  <td class="entry">
    <h2><span class="title">
      <%= link_to entry.title, entry_path(entry) %>
    </span></h2>
    
    <form target="_blank" id="render_<%= entry.image_name %>"
    	name="render_job_form"
    	action="<%= entry.pov_server + 'cgi-bin/request.py' %>"
    	method="post">
    	<input type="hidden" name="code"
    		value='<%= entry.shortcode %>' />
    	<input type="hidden" name="name"
	    	value=<%= entry.image_name %> />
	    <input type="hidden" name="key"
	    	value=<%= entry.key %> />
    </form>  
  
    <nav>
    <%= link_to "show", entry_path(entry) %>
    <% if signed_in? && (current_user.admin? || current_user == entry.user) %>
      | <%= link_to "edit", edit_entry_path(entry) %> 
      | <a href = "javascript: document.getElementById('render_<%= entry.image_name %>').submit()"> render </a>
      | <%= link_to "delete", entry, :method => :delete, :confirm => "You sure?",
         :title => "delete" %>
  <% end %>
    </nav>
    
    <a href = <%= entry.image_url %> >
    <%= image_tag entry.image_url, :width=>'100%' %>
    </a>
    
    <br/>
    <br/>
    
    <label>Short Code (<a href = <%= entry.shortcode_url %> > plain text </a>)</label> 
    <div class="code"><%=h wrap entry.shortcode %>
    </div>
    <br/>
    
    <% if entry.longcode? %>
      <label>Long Code</label>
      <div class="code"><%=h wrap entry.longcode %></div>
      <br/>
    <% end %>
    
    
    <% if entry.comments? %>
	  <label>Comments</label>
	  <div class="code"><%=h wrap entry.comments %></div>
	  <br/>
    <% end %>

    <span class="timestamp">
      Posted <%= time_ago_in_words(entry.created_at) %> ago.
    </span>
    
  </td>
</tr>
