<tr>
  <td class="entry">
    <h2><span class="title">
      <%= link_to entry.title, entry_path(entry) %>
    </span></h2>
    
    <form target="_blank" id="render_<%= entry.image_name %>"
    	name="render_job_form"
    	action="<%= entry.povserver + 'cgi-bin/request.py' %>"
    	method="post">
    	<input type="hidden" name="code"
    		value='<%= entry.shortcode %>' />
    	<input type="hidden" name="name"
	    	value=<%= entry.image_name %> />
	    <input type="hidden" name="key"
	    	value=<%= entry.key %> />
    </form>
    
    <nav>
    <%= link_to "edit", edit_entry_path(entry) %> |
    <%= link_to "show", entry_path(entry) %> |
    <a href = "javascript: document.getElementById('render_<%= entry.image_name %>').submit()"> render </a>
    </nav>
    
    <%= image_tag entry.povserver + "images/" + entry.image_name + '.png', :width=>'100%' %>
    
    <br/>
    <!-- testing Paperclip -->
    <% unless entry.picture == nil %>
      <%= image_tag entry.picture.url %>
      <%= image_tag entry.picture.url(:medium) %>
      <%= image_tag entry.picture.url(:thumb) %>
    <% end %>
    <br/>
    
    <label>Short Code</label>
    <div class="code"><%=h wrap entry.shortcode %></div>
    <br/>
    
    <% if entry.longcode? %>
      <label>Long Code</label>
      <div class="code"><%=h wrap entry.longcode %></div>
      <br/>
    <% end %>
    
    
    <% if entry.comments? %>
	  <label>Comments</label>
	  <div class="code"><%=h wrap entry.comments %></div>
	  <br/>
    <% end %>

    <span class="timestamp">
      Posted <%= time_ago_in_words(entry.created_at) %> ago.
    </span>
    
  </td>
</tr>
