<tr>
  <td class="entry">
    <h2><span class="title">
      <%= link_to entry.title, entry_path(entry) %>
    </span></h2>
    
    <% if signed_in? && (current_user.admin? || (current_user == entry.user && entry.editable?)) %>
    <nav>
      <%= link_to "edit", edit_entry_path(entry) %> |
      <%= link_to "delete", entry, :method => :delete, :confirm => "You sure?",
         :title => "delete" %>
    </nav>
    <% end %>
    
    <% status = entry.render_status %>
    
    <% if status.match("image ready") %>
    
    <a href = <%= entry.image_url %> >
    <%= image_tag entry.image_url, :width=>'100%' %>
    </a>
    
    <% elsif status.match("thumbnail ready") %>
    
    <a href = <%= entry.thumbnail_url %> >
    <%= image_tag entry.thumbnail_url, :width=>'100%' %>
    </a>
    
    <% end %>
    
    <% if current_user == entry.user %>
      <%= link_to "(render status)", entry_path(entry) + '/renderstatus' %>
    <% end %>
    
    <br/>
    <br/>
    
    <label>Short Code (<a href = <%= entry.shortcode_url %> > plain text </a>)</label>
    <div class="code"><%=h wrap entry.shortcode %>
    </div>
    <br/>
    
    <% if entry.longcode? %>
      <label>Long Code</label>
      <div class="code"><%=h wrap entry.longcode %></div>
      <br/>
    <% end %>
    
    <% if entry.comments? %>
	  <label>Comments</label>
	  <div class="code"><%=h wrap entry.comments %></div>
	  <br/>
    <% end %>
    
    <% entry.acquire_contest %>
    
    <span class="timestamp">
      <% now = Contest.current_time %>
      Posted <%= time_ago_in_words(entry.created_at) %> ago
      <% unless entry.contest == nil %>
        in <%= entry.contest.title %>
        <br/>
        <% if now < entry.contest.entrydeadline %>
          On <%= entry.contest.entrydeadline.strftime("%A %B %d, %Y at %I:%M %p %Z") %>,
          this entry will be saved into the contest <% entry.contest.title %> and then
          made viewable for voting.
        <% end %>
      <% end %>
    </span>
    
    <% if current_user.admin? %>
      Total score: <%= entry.score%><br/>
      <% if entry.votes.size > 0 %>
        <table style="margin-top:0; border-spacing: 0; width:50%;">
        <tr><td>Voter</td><td>Weight</td></tr>
        <% entry.votes.each do |vote| %>
	    <tr>
	      <td>
		    <%= User.find_by_id(vote.user_id).name %>
		  </td>
		  <td>
		    <%= vote.weight %>
		  </td>
	    </tr>
        <% end %>
        </table>
      <% end %>
	<% end %>
    
  </td>
</tr>
