<%= render 'shared/error_messages', :object => f.object %>

<div class="field">
  <%= f.label :"title" %><br />
  <%= f.text_field :title %>
</div>

<div class="field">
  <%= f.label :"shortcode" %><br/>
  <p style = "font-size : .75em; margin-bottom : 0;">
  Gets rendered and judged in the contest.  May not exceed 256 characters.<br/>
  </p>
  
  <%= f.text_area :shortcode,
    :id => "shortcode_textarea",
  	:onKeyUp => "updateTextCounters();" %><br/>

  <span id = "shortcode_count" value=""></span> characters left
</div>

<div class="field">
  <%= f.label :"longcode" %><br/>
  <p style = "font-size : .75em; margin-bottom : 0;">
  (Optional)  A longer, more human-readable version of the code.
  </p>
  <%= f.text_area :longcode %>
</div>
<div class="field">
  <%= f.label :"comments" %><br/>
  <p style = "font-size : .75em; margin-bottom : 0;">
  (Optional) Anything else you would like to add.
  </p>
  <%= f.text_area :comments %>
</div>

<script language="JavaScript">

function textCounter(field, countfield, enforce, limit)
{
	if (enforce && field.value.length > limit)
		field.value = field.value.substring(0, limit);
	
	countfield.innerHTML = limit - field.value.length;
}

function udpateTextCounters()
{
	textCounter(
		document.getElementById("shortcode_textarea"),
		document.getElementById("shortcode_count"), false, 256);
}

setInterval(udpateTextCounters, 100);

</script>
