<div id = "vote_info">

<% contest = Contest.current_contest %>
<% if contest and contest.voting_window? and current_user and current_user.may_vote? %>

<h1>Votes</h1>

<nav class="round">
  <ul>
    <li>  <%= link_to "Voting Gallery", '/contests/' + Contest.current_contest.id.to_s + '/gallery' %></li>
  </ul>
</nav>

Your choices for <%= contest.title %>

<div class = "round box">

<% vc = current_user.votes_for_contest(contest) %>

<% if vc.size > 0 %>

<!--Work-around for a bug where a phantom vote object
    with no id or weight appears in the list--!>
<% revised_vote_list = [] %>
<% current_user.votes_for_contest(contest).each do |vote| %>
<%   if vote.id %>
<%     revised_vote_list << vote %>
<%   end %>
<% end %>

<table>

<tr>
<td>Points</td>
<td>Title</td>
</tr>

<% revised_vote_list.sort_by! {|vote| -vote.weight} %>
<% revised_vote_list.each do |vote| %>
<%if vote.id %>
<tr>
<td><%= h vote.weight%></td>
<td><%= h Entry.find_by_id(vote.entry_id).title %> </td>
</tr>
<% end %>
<% end %>
</table>

<% vote = current_user.votes.find_by_entry_id(@entry) %>
<% if vote %>
<hr/>
<%= "You have voted for this entry for " + pluralize(vote.weight, 'point') + '.' %>
<% end %>
<% end %>

</div>

</div>

<% end %>

