<h1>All Entries</h1>

<%= will_paginate %>

<table class="thumbnail">
  <% cols = 3 %>
  <% i = 0 %>
  <% @entries.each do |entry| %>
  <% url = 'entries/'+String(entry.id) %>
  
  <% if i%cols==0 %> <tr> <% end %>
    <td style="background-color: f00;">
    <center>
    <% vote = current_user.votes.find_by_entry_id(entry.id) %>
    <% if vote %>
      <%= pluralize(vote.weight, 'point') %><br/>
    <% else %>
      <br/>
    <% end %>
   	
    <a href = <%= url %> >
    <img src = "<%= entry.pov_server + 'thumbnails/' + entry.image_name %>"
    	onerror="this.src='images/default_thumb.png';">
    <br/>
    <h3 style="font-size: 1.1em;"><%= entry.title %></h3>
    </a>
    </center>
    </td>
  <% if i%cols==cols-1 %> </tr> <% end %>
  <% i+=1 %>
  <% end %>
</table>

<%= will_paginate %>

