<h1>Contest Winners</h1>

<%= will_paginate %>

<% contest = Contest.latest_contest %>

<% if contest %>

<% p = winners(contest.entries) %>

<table class="thumbnail">
<% p[:winners].each do |entry| %>
<tr><td>
<center>
<img width = 500 src = "<%= entry.pov_server + 'images/' + entry.image_name %>"
    	onerror="this.src='images/default_thumb.png';">
<h3 style="font-size: 1.1em;"><%= entry.title %></h3>
</center>
</td></tr>

<% end %>
</table>

<% if p[:runnersup].size > 0 %>
  <h1>The Rest </h1> (in pseudorandom order)

  <table class="thumbnail">
    <% cols = 3 %>
    <% i = 0 %>
    <% p[:runnersup].each do |entry| %>
    <% url = 'entries/' + entry.id.to_s %>
  
    <% if i%cols==0 %> <tr> <% end %>
      <td style="background-color: f00;">
      <center>
    
      <% vote = nil %>
      <% if current_user %>
      <% vote = current_user.votes.find_by_entry_id(entry.id) %>
      <% end %>
      
      <br/>
      <a href = <%= url %> >
      <img src = "<%= entry.pov_server + 'thumbnails/' + entry.image_name %>"
         onerror="this.src='images/default_thumb.png';">
      <br/>
      <h3 style="font-size: 1.1em;"><%= entry.title %></h3>
      </a>
      </center>
      </td>
    <% if i%cols==cols-1 %> </tr> <% end %>
    <% i+=1 %>
    <% end %>
  </table>
<% end %>

<% end %>

<%= will_paginate %>

