<%= render 'shared/error_messages', :object => f.object %>

<div class="field">
  <%= f.label :"title" %><br />
  <%= f.text_field :title %>
</div>

<div class="field">
  <%= f.label :"rules" %><br />
  <%= f.text_area :rules %><br/>
</div>

<div class="field">
  <%= f.label :"ini" %><br />
  <%= f.text_area :ini %><br/>
</div>

<div class="field">
  <%= f.label :"thumbnail ini" %><br />
  <%= f.text_area :thumbnailini %><br/>
</div>


<div class="field">
  <%= f.label :"start date" %><br />
  <%= f.text_field :startdate %>
</div>

<div class="field">
  <%= f.label :"entry deadline" %><br />
  <%= f.text_field :entrydeadline %>
</div>

<div class="field">
  <%= f.label :"voting start" %><br />
  <%= f.text_field :votingstart %>
</div>

<div class="field">
  <%= f.label :"voting end" %><br />
  <%= f.text_field :votingend %>
</div>

