<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>Home</h1>
      <h2>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h2>
      <a href="<%= voting_for_user_path(@user) %>">
        <span id="voting" class="stat">
          Voting for: <%= @user.voting_for.count %> of 5
        </span>
      </a>
      
      <hr/>

        <nav class="round">
          <ul>
            <li><%= link_to "New Entry", newentry_path %></li>
          </ul>
        </nav>
      
      <% unless @user.entries.empty? %>
        <br/>
        <center><h1> Entries </h1></center>

        <table class="entries" summary="User entries">
          <%= render @entries %>
        </table>
        <%= will_paginate @entries %>
      <% end %>
    </td>
  </tr>
</table>

