<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h2>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h2>
      
      <% if @user.id == current_user.id or current_user.admin? %>
      	<%= render 'entries/vote_info'%>
      <% end %>
      
      <h1 style="margin-top:10px;">Entries</h1>
      
      <nav>
        <ul>
          <li><%= link_to "New Entry", newentry_path %></li>
        </ul>
      </nav>
      
      <% unless @user.entries.empty? %>
      <br/>
      <table class="entries" summary="User entries">
        <%= render @entries %>
      </table>
        <%= will_paginate @entries %>
      <% end %>
    </td>
  </tr>
</table>

