<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>My Entries</h1>
      <h2>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h2>
      <hr/>

        <nav>
          <ul>
            <li><%= link_to "New Entry", newentry_path %></li>
          </ul>
        </nav>
      
      <% unless @user.entries.empty? %>
        <br/>

        <table class="entries" summary="User entries">
          <%= render @entries %>
        </table>
        <%= will_paginate @entries %>
      <% end %>
    </td>
  </tr>
</table>

