<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h2>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h2>
      <hr/>
      
      <%= link_to "New Entry", newentry_path %>
      
      <% unless @user.entries.empty? %>
        <br/>
        <center><h1> Entries </h1></center>
        <table class="entries" summary="User entries">
          <%= render @entries %>
        </table>
        <%= will_paginate @entries %>
      <% end %>
    </td>
  </tr>
</table>

