<header>

  <div>
    <div style="display: inline-block; vertical-align: top;">
     <%= link_to logo, root_path %>
    </div>
    
    <div style = "display: inline-block; float: bottom;">
    <h1 style="color: #ddd; padding: 5px; font-size: 2em;">
      Povray Short Code
    </h1>
    </div>
    
    <div class="round" style="padding: 10px;
         display: inline-block; float: right; background-color: #444;">

      
      <div style="font-size: 1.3em;">
        <% if signed_in? %>
          <%= gravatar_for current_user, :size => 30 %>
	    <div style="display: inline-block; vertical-align: top;">
	      <%= current_user.name %>
	    </div>
        <% end %>
      </div>
      

      <nav class="round">
		<ul>
		  <% if signed_in? %>
		  <li><%= link_to "My Home", current_user %></li>
		  <% else %>
		  <li><%= link_to "Home", root_path %></li>
		  <% end %>
		  
		  <% if signed_in? and current_user.admin? %>
		  <li><%= link_to "Contests", contests_path %></li>
		  <% end %>
		  
		  <% if signed_in? %>
		  <li><%= link_to "Gallery", entries_path %></li>
		  <% end %>
		  
		  <% if signed_in? %>
		  <li><%= link_to "Edit Profile", edit_user_path(current_user) %></li>
		  <% end %>
		  
		  <% if signed_in? %>
		  <li><%= link_to "All Users", users_path %></li>
		  <% end %>
		  
		  <% if signed_in? %>
		  <li><%= link_to "Results", results_path %></li>
		  <% end %>
		  
		  <% if signed_in? %>
			<li><%= link_to "Sign out", signout_path, :method => :delete %></li>
		  <% else %>
			<li><%= link_to "Sign in", signin_path %></li>
		  <% end %>
		</ul>
      </nav>
      
    </div>
    
	<% contest = Contest.current_contest %>
    <% now = Time.now %>
    
    <div style="background-color: #444; font-size:1.2em; padding: 10px; margin-top: 5px;">
    <%= contest.title %> <%= link_to "(contest rules)", contest_path(contest) %>
    
    <% if now >= contest.startdate and now < contest.entrydeadline %>
      Entries due <%=h contest.entrydeadline.strftime("%A %B %d, %Y at %I:%M %p (%Z)") %>.
    <% end %>
    
    <% if now >= contest.entrydeadline and now < contest.votingstart %>
      Entries are rendering.  Voting will start on <%=h contest.votingstart.strftime("%A %B %d, %Y at %I:%M %p (%Z)") %>.
    <% end %>
    
    <% if now >= contest.votingstart and now < contest.votingend %>
      Voting has begin.  Votes must be submitted by <%=h contest.votingend.strftime("%A %B %d, %Y at %I:%M %p (%Z)") %>.
    <% end %>
    
    <% if now > contest.votingend %>
      Voting is now closed.  See the results of the contest <%= link_to "here", "results" %>.
    <% end %>
    
    </div>
  </div>

</header>

